.MuiPaper-root{
  margin-top: 60px;
}

.manpowerNames{
  display: flex;
}

.timeHandle{
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 2px 10px;
}

.otHours{
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 50px;
  padding:5px 10px;
}
.otHours:focus,
.timeHandle:focus{
  outline: none;
}